{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Thank you
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h5 class="page-header alert alert-info ">Thank You For Shopping With Us! 
                </h5>
                <p class=" alert alert-success" >Dear  {{ request.user.username }}, your order has been successfully completed and shipment is due soon. Your order number is <strong>{{ order.id }}</strong>.</p>
            </div>
        </div>
    </div>
{% endblock %}