{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
       <div class="content-section" >
  
  <form method="post">
    {% csrf_token %}
    <fieldset class="form-group" >
        <legend class ="border-bottom mb-4 alert alert-info">
            Log In to Grove. 
        </legend>
        {{ form|crispy}}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login.</button>
    </div>
  </form>
  <div class="boarder-top pt-3">
      <small class="text-muted">
      	Forgot Password? <a class="ml-2" href="# ">Reset Password</a><br>
          New Customer ? <a class="ml-2" href="{% url 'signup' %}  ">Register</a>
      </small>
  </div>
</div>
{% endblock %}