{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section" >
  <h2>Create An Account. </h2>
  <form method="post">
    {% csrf_token %}
    <fieldset class="form-group" >
        <legend class ="border-bottom mb-4">
            Join Grove Mall Today.
        </legend>
        {{ form|crispy}}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up.</button>
    </div>
  </form>
  <div class="boarder-top pt-3">
      <small class="text-muted">
          Am a regular Customer ? <a class="ml-2" href="{% url 'login' %} ">Log In</a>
      </small>
  </div>
</div>
{% endblock %}