{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %} 
<p class="lead alert alert-warning"><small>Dear {{ request.user.username }},season's greetings. This festive period, browse through our great range of products and we guarantee you unbeatable price discounts and the best offers you won't find anywhere else .</small> </p><br>
	{%else %} 
	<p class="lead alert alert-info"><small>Beloved customer, welcome to Grove Street Online Mall. To enjoy full user experience and full product support, kindly signup with us.</small> </p><br>
		{%endif %} 
	
   <div class="container-fluid">
      <div class="row" style="margin-top: 10%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <div class="row">
                  {% for product in products %}
                      <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 150px; width: auto">
                            </a>
                            <div class="caption">
                                <h6 class="text-center">
                                    <a  class="btn btn-dark btn-sm mt-1 mb-1"  href="{{ product.category.get_absolute_url }}">{{ product.category }}</a><br>
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                    
                                </h6>
                                <p class="text-center">Kshs. {{ product.price }}</p>
                                <p class="text-center"> {{ product.stock }} More Units Available. </p><hr style="border-top: 1px solid #006666" >
                            </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>


          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
        
<div style="text-align:center"  >
                    {% if products.has_other_pages %}
                          <nav class="d-flex justify-content-center wow fadeIn">
                          <ul class="pagination pg-blue">  
                    {% if products.has_previous %}
                         <li class="page-item">
                         <a class="page-link"    href="?page={{ products.previous_page_number }}" aria-label="Previous">
                         <span aria-hidden="true">&laquo;</span>
                         <span class="sr-only">Previous</span>
                        </a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                   {% endif %}
                   {% for i in products.paginator.page_range %}
                   {% if products.number == i %}
                        <li class="active " ><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                   {% else %}
                        <li><a class="btn btn-primary mb-3"   href="?page={{ i }}">{{ i }}</a></li>
                   {% endif %}
                   {% endfor %}
                   {% if products.has_next %}
                        <li class="page-item">
                        <a class="page-link"    href="?page={{ products.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                       <span class="sr-only">Next</span>
                       </a>
                        </li>
      
                   {% else %}
                         <li class="disabled"><span>&raquo;</span></li>
                   {% endif %}
                         </ul>
                   {% endif %}
</div>
{% endblock %}